<% channel ||= nil %>

<div class="card">
    <div class="row pl-3 pr-3">
        <div class="col-xs-4 pr-1">
            <%= link_to "https://www.youtube.com/channel/#{channel.id}" do %>
                <%= image_tag channel.thumbnail_url, class: "img-fluid rounded" %>    
            <% end %>
        </div>
        
        <div class="col-xs-8 pl-1">
            <div>
                <%= link_to "https://www.youtube.com/channel/#{channel.id}" do %>
                    <strong><%= channel.title.truncate(25) %></strong>
                <% end %>
            </div>
            <div>
                <small><b><%= channel.video_count %></b> videos</small>
                
                <button type="button" class="btn btn-secondary pl-1 pr-1 pb-1 pt-0" data-toggle="modal" data-target="#<%=channel.uid%>_modal">
                  + tags
                </button>
            </div>
        </div>
        
    </div>
</div>


<div class="modal fade" id="<%=channel.uid%>_modal" tabindex="-1" role="dialog" aria-labelledby="<%=channel.uid%>ModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= form_tag tags_path, method: :post do %>
        
          <div class="modal-header">
            <h5 class="modal-title" id="<%=channel.uid%>ModalLabel">Add a tag to this channel</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
                <%= hidden_field_tag('channel_uid', channel.uid)%>
                <%= text_field_tag 'tag_title', nil, placeholder: "Create a new Tag" %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <%= submit_tag 'Add Tag', class: "btn btn-primary" %>
          </div>
          
      <% end %>
    </div>
  </div>
</div>