<% channel ||= nil %>

<% if channel %>
    <div class="card">
        <div class="row pl-3 pr-3">
            <div class="col-xs-4 pr-1">
                <%= link_to "https://www.youtube.com/channel/#{channel.uid}" do %>
                    <%= image_tag channel.thumbnail_url, class: "img-fluid rounded" %>    
                <% end %>
            </div>
            
            <div class="col-xs-8 pl-1">
                <div>
                    <%= link_to "https://www.youtube.com/channel/#{channel.uid}" do %>
                        <strong><%= channel.title.truncate(30) %></strong>
                    <% end %>
                </div>
                <div>
                    <small><b><%= channel.video_count %></b> videos</small>
                    
                    <%= render partial: "tags/tags", locals: { tags: @channels_with_tags[channel.uid], no_link: true } %>
                    <%= render partial: "tags/add_tags_button", locals: { channel: channel } %>
                    
                </div>
            </div>
            
        </div>
    </div>

<% end %>