<h1><%= @user.name %></h1>

<% if user_signed_in? && @user == current_user %>
    <p>(this is you) <%= @elapsed_time %>s</p>
    
    <h2>Your Tags</h2>
    
    <%= render partial: "tags/list", locals: { tags: @user.tags } %>

    <h2>Youtube subscriptions <small>(<%= @subscribed_channels.count %>)</small></h2>
    
    <%= render partial: "youtube/channels", locals: { channels: @subscribed_channels} %>
    
    
    
<% end %>