<h1><%= @user.name || @user.email.split("@").first %></h1>

<% if @user.google_refresh_token.present? %>
    
     <% if @user == current_user %>
        <p>(this is you) <%= @elapsed_time %>s</p>
     <% end %>
    
    <% if user_signed_in? %>
        
        <%= render partial: "tags/tags_with_channels", locals: { tags: @tags } %>
    
        <h2>Channels without tags <small>(<%= @uncategorized_channels.count %>)</small></h2>
        
        <%= render partial: "youtube/channels", locals: { channels: @uncategorized_channels.values.take(12) } %>
        
    <% end %>

<% else %>

    Not connected with youtube
<% end %>