<% channel ||= {} %>

<div class="modal fade" id="<%=channel.uid%>_modal" tabindex="-1" role="dialog" aria-labelledby="<%=channel.uid%>ModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= form_tag tags_path, method: :post do %>
        
        <div class="modal-header">
            <h5 class="modal-title" id="<%=channel.uid%>ModalLabel">
                Add tags to this channel
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-4 pr-1">
                    <%= link_to "https://www.youtube.com/channel/#{channel.uid}" do %>
                        <%= image_tag channel.thumbnail_url, class: "img-fluid rounded" %>    
                    <% end %>
                </div>
                <div class="col-sm-8 pl-1">
                    <%= link_to "https://www.youtube.com/channel/#{channel.uid}" do %>
                        <strong><%= channel.title.truncate(30) %></strong>
                    <% end %>
                    <div class="tags_fields" attr-uid="<%= channel.uid %>">
                        <%= hidden_field_tag('channel_uid', channel.uid)%>
                        <%= render partial: "tags/tags", locals: { tags: @channels_with_tags[channel.uid], no_link: true } %>
                        <%= render partial: "tags/tag", locals: {klass: "tag_model"} %>
                    </div>
                    <div class="">
                        <%= text_field_tag 'title_field', nil, placeholder: "Create a new Tag", class: "title_field", "attr-uid": channel.uid %>
                        <%= link_to "+", "#", class: "btn btn-secondary pl-2 pr-2 pb-1 pt-1 add_new_tag", "attr-uid": channel.uid %>
                    </div>
                </div>
            </div>
            
            <div class="my_tags" attr-uid="<%= channel.uid %>">
                <strong>My other tags</strong><br />
                <%= render partial: "tags/tags", locals: { tags: @my_tags_with_count.except(*@channels_with_tags[channel.uid]), channel: channel } %>
                
                <% if @other_tags_with_count.present? %>
                    <br />
                    <strong>All other existing tags</strong><br />
                    <%= render partial: "tags/tags", locals: { tags: @other_tags_with_count, channel: channel } %>
                <% end %>
            </div>
        </div>
        
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <%= submit_tag 'Update Tags', class: "btn btn-primary" %>
        </div>
          
      <% end %>
    </div>
  </div>
</div>